body {
  background-image: url("../img/homeBackGround.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;

  #root {
    display: flex;
    justify-content: center;
    #gridResults {
      border: 1px solid black;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      width: auto;
    }
    #powerstas {
      float: left;
    }
  }
}
